/* MAIN */
.messages {
  background-image: url(../../img/messages_bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 50%;
}

/* DIALOGS */
.dialogs {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 10fr;
  margin-left: 60px;
  position: relative;
  z-index: 1;
}

/* LINE */
.line {
  background: #e3e3e3;
  box-sizing: border-box;
  border-radius: 10px;
  width: 7px;
}
/* DIALOGS ITEMS */
.dialogsItems {
  padding: 10px;
}
