/* SECOND ITEM */
.second {
  color: rgb(0, 0, 0);
  position: relative;
  float: right;
  margin-right: 30px;
  display: flex;
  z-index: 1;
  margin-top: 40px;
}

/* MESSAGE */
.message {
  font-size: 20px;
  line-height: 27px;
  margin-left: 25px;
  color: #575757;
  width: 800px;
  grid-area: m;
  font-weight: normal;
  padding: 10px;
}

/* FRAME */
.frame {
  grid-area: f;
  background: rgba(255, 255, 255, 0.8);
  width: 850px;
  border: 4px solid #e3e3e3;
}

/* IMG */
.second img {
  grid-area: i;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin-left: 20px;
}

/* DATA */
.data {
  grid-area: d;
}

/* NAME */
.name {
  margin-bottom: 5px;
  grid-area: n;
  font-size: 18px;
  font-weight: normal;
  color: #505050;
  margin-left: 87%;
}
