.nav {
  grid-area: nav;
  padding: 20px;
  display: flex;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  margin-left: 40px;
}

.item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 50px;
  font-size: 22px;
  font-weight: 600;
}
.item {
  cursor: pointer;
}

.item a.activeLink {
  color: #6b2bd5;
}

.header {
  grid-area: h;
  display: grid;
  grid-template-areas: "logo nav";
}
.logo {
  grid-area: logo;
  margin-top: -40px;
  margin-bottom: -30px;
  width: 200px;
  margin-left: 150px;
  margin-right: -200px;
}

.myProfile {
  margin-left: 50px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.login:hover {
  color: #7da521;
  transition: all 0.5s ease 0s;
}
.logout:hover {
  color: #7da521;
  transition: all 0.5s ease 0s;
}

.singBlock {
  cursor: pointer;
}

.singBlock a.activeLink {
  color: #7da521;
  margin-left: 90px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.sing {
  color: #7da521;
  margin-left: 90px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}
