/* PAGES */
.pages {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FRIENDS PAGE */
.friendsPage {
  background-image: url("../../img/background_users.png");
  background-repeat: no-repeat;
  background-size: 50%;
}
