/* BACKGROUND */
.background {
  width: 1200px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 10px;
}
/* PROFILE PICTURE (CHOSE PICTURE) */
.profile_picture {
  margin-top: -150px;
}

/* USUAL USER PICTURE */
.userPic {
  width: 15%;
  border: 12px solid #ffffff;
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* OWNER PICTURE */
.ownerPic {
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 15%;
  border: 12px solid #ffffff;
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* NAME */
.name {
  color: #525252;
  margin-top: -20px;
  text-align: center;
}

/* HOVER */
.text:hover {
  opacity: 1;
}

/* PHOTO CHOOSER */
.photoPoop {
  display: block;
  text-align: center;
  cursor: pointer;
  margin-top: -170px;
  margin-bottom: 60px;
}
.choosePhoto {
  display: none;
}
/* TEXT */
.text {
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
}

/* CONTACTS */
.label {
  color: #525252;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showInput {
  display: grid;
  text-align: center;
  color: #525252;
  font-size: 30px;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  user-select: none;
}
.hideInput {
  display: none;
}

/* ARROW */
.showArrow {
  width: 2%;
  margin-right: 1%;
  transform: rotate(90deg);
  transition: 0.1s;
}
.hideArrow {
  width: 2%;
  margin-right: 1%;
  transform: rotate(0deg);
  transition: 0.1s;
}
