/* UNCOS */
.music {
  background-image: url("../../../img/background_music2.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -10%;
  background-size: 50%;
}
