.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas: "h n" "c c";
}

.app-wrapper-content {
    grid-area: c;
}










/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
