.recall {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(177, 177, 177);
}

/* CAPTCHA */
.captchaImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.remember {
  cursor: pointer;
}

/* ERROR */
.error {
  text-align: center;
  color: #5f8aff;
  font-size: 20px;
  font-weight: 500;
}

.login {
  font-size: 20px;
  font-size: 20px;
}

/* BUTTON SEND */
.login {
  width: 140px;
  height: 70px;
  border-radius: 50px;
  outline: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-weight: 500;
  font-size: 30px;
  cursor: pointer;
  color: #747474;
  background: rgba(255, 255, 255, 0.8);
  border: 4px solid #e3e3e3;
}

.login:hover {
  color: #4b4b4b !important;
  border-radius: 50px;
  border-color: #4b4b4b !important;
  transition: all 0.5s ease 0s;
}
